.shadow {
  text-shadow: 1px 1px #000000;
}


body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif
}

body,
html {
  height: 100%;
  line-height: 1.8;
  font-family: Montserrat, serif;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url(images/background.jpg);
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 15px;
}

.button-padding {
  padding: 20px !important;
}

i {
  margin-right: 5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.stakeholders
{
display: inline-block;
margin: 0px;
padding: 0px;
}

#stakeholders
{
display: block;
margin: 0px;
padding: 0px;
position: relative;
top: 90px;
max-height: 150px;
max-width: 150px;
overflow-y: hidden;
overflow-x:auto;
white-space:nowrap;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

#solutions image crop
.crop {
  width: 450px;
  height: 150px;
  overflow: hidden;
}

.crop img {
  width: 450px;
  height: 300px;
  margin: -75px 0 0 -100px;
}